body {
	background-color: #000;
	margin: 0px;
	overflow: hidden;
	width: 100%; 
	height: 100%;
}

/* canvas { 
    width: 100%; height: 100%;
} */

.container-fluid { 
	background: rgba(0, 0, 0, 0.8);
	width: 100%; 
	height: 100%;
	position: absolute; 
	display: none;
}

.card-wrapper {
	position: absolute; 
	width: 100%;
	right: 0;
	top: 100px;
	display: none;
}

.card {
	background: rgba(0, 0, 0, 0.5);
}

.card-title {
	color: #fff;
}

.dropdown-menu {
	background: rgba(0, 0, 0, 0.5);
	width: 177px;
	color: #fff;
}

.planet-button-wrapper {
	text-align: center;
	position: absolute; 
	bottom: 100px; 
	left: 0;
	width: 100%;
}


.planet-btn {
	color: #fff;
	border-radius: 2px;
}

.btn-outline-danger:hover {
	color: #000;
}

.fa-angle-right {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: bounceRight;
    animation-name: bounceRight;
  }
  @-webkit-keyframes bounceRight {
    0%, 100% {
      -webkit-transform: translateX(0px);
      color: #CB5A54;
    }
    50% {
      -webkit-transform: translateX(-5px);
      color: #000;
    }
  }
  @keyframes bounceRight {
    0%, 100% {
      transform: translateX(0px);
      color: #CB5A54;
    }
    50% {
      transform: translateX(-5px);
      color: #000;
    }
  }

.fa-angle-left {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-name: bounceLeft;
    animation-name: bounceLeft;
  }
  @-webkit-keyframes bounceLeft {
    0%, 100% {
      -webkit-transform: translateX(0px);
      color: #CB5A54;
    }
    50% {
      -webkit-transform: translateX(5px);
      color: #000;
    }
  }
  @keyframes bounceLeft {
    0%, 100% {
      transform: translateX(0px);
      color: #CB5A54;
    }
    50% {
      transform: translateX(5px);
      color: #000;
    }
  }